/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 248, 255);
    
}

header{
    display: flex;
    justify-content: center;
    padding: 30px 10%;
    background-color: rgb(0,0,37);
}

.logo{
    cursor: pointer;
    width: 300px;
    height: 30px;
    
}

title{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}

div{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 100px;
    background-color: green;
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
    font-size: 25px;
    color: white;
}

button:hover{
    background-color: yellow;
    color: black;
}

h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

ul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
    */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: rgb(239, 248, 255);
        
    }
    
    header{
        display: flex;
        justify-content: center;
        padding: 30px 10%;
        background-color: rgb(0,0,37);
    }
    
    .logo{
        cursor: pointer;
        width: 300px;
        height: 30px;
        
    }
    
    .wrapper{
        box-sizing: border-box;
        height: 100vh;
        width: max(40%, 600px);
        padding: 10px;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 450px;
    }
    
    form{
        width: min(400px, 100%);
        margin-top: 20px;
        margin-bottom: 50px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /*
        justify-content: center;
        margin-top: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
       */
    }
    
    title{
        display: flex;
        justify-content:center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        
    }
    
    
    div{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    
    button{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 20px 100px;
        background-color: green;
        border: none;
        border-radius: 20px;
        cursor: pointer; 
        transition: all 0.3s ease 0s;
        font-size: 25px;
        color: white;
    }
    
    button:hover{
        background-color: yellow;
        color: black;
    }
    
    h4{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    ul{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    
    #error-message{
        color: red;
    }