* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
    
}

div
{
    border: 1px solid #9f9f9f;
    padding: 10px;
}

#wrapper
{
    width: 100%;
    display: table;
}

#left-column {

    width: 230px;
    height: 738px;
    background-color: rgb(239, 248, 255);
}

#page{
    width: 1250px;
    height: auto;
    background-color: rgb(233, 233, 233);
}



#left-column, #page
{
    display: table-cell;
}

.logo{
    cursor: pointer;
    width: 250px;
    height: 30px;
   
}

header{
    display: flex;
    justify-content: center;
    padding: 40px 10%;
    background-color: rgb(239, 248, 255);
    
}

#button div{
display: flex;

}


button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: auto;
    padding: 20px 100px;
    width: 20px;
    background-color: rgb(239, 248,255);
    border: none;
    border-radius: 40px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
    font-size: 20px;
    color: rgb(0,0,37);
    display: flex;
    justify-content: center;
}

button:hover{
    background-color: rgb(200, 226, 247);
    color: black;
}

a{
    text-decoration: none;
}

#logout button{
    width: 1050px;
    height: 100px;
    position:absolute;
    top: 180px;
    text-align: center;
    padding-top: 35px;

}

#page header{

    width:1050px;
    height:130px;
    position: absolute;
    right: 180px;
    top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content:left;
    padding-left: 30px;
    padding-top: 40px;
    border: none;
    border-radius: 40px;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: left;
    border: none;
    border-radius: 30px;
    background-color: rgb(239, 248,255);
}